*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  color: #dddddd;
  font-family: "Roboto", sans-serif;
  background-color: #222831;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  background-color: #111720;
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

.title {
  font-family: "Press Start 2P", sans-serif;
  font-size: 32px;
  color: #ffc83d;
}

.main {
  font-weight: 600;
  max-width: 600px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-grow: 1;
}

.round_result__header {
  font-size: 32px;
  margin-bottom: 10px;
}

.round_result__paragraph {
  font-size: 18px;
}

.scores_container {
  display: flex;
  justify-content: space-evenly;
}

.user_score__paragraph,
.computer_score__paragraph {
  font-size: 20px;
}

.round_weapon {
  font-size: 78px;
  margin: 0;
  margin-bottom: 25px;
}

.selections_container {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}

.select_btn {
  background-color: #393e46;
  font-size: 78px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  height: 160px;
  width: 160px;
}

.select_btn:hover {
  background-color: #4a4f57;
}

.footer {
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 20px;
  padding-bottom: 5px;
}

.fa-github {
  color: #dddddd;
  transition-property: transform;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(130%);
}

.popup {
  width: 330px;
  height: 200px;
  background: #222831;
  border-radius: 12px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  z-index: 2;
}

.open-popup {
  visibility: visible;
  top: 47%;
  transform: translate(-50%, -50%) scale(1);
}

.popup__header {
  font-size: 38px;
  margin: 30px 0;
}

.popup__btn {
  background: #393e46;
  color: #dddddd;
  font-size: 28px;
  padding: 15px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

.popup__btn:hover {
  background: #4a4f57;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
